---
---

<h1><%= country_code %></h1>

<table>
  <tbody>
    <% api.project_budgets_by_year(country_code).xpath('//data/financial-year').each do |fy| %>
      <tr>
        <td><%= fy.attr('label') %></td>
        <td><%= fy.content       %></td>
      </tr>
    <% end %>
  </tbody>
</table>
