---
title: Aid Information Platform
---


<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <span>Aid Information Platform</span>
            <h1>
                <img src="/images/flags/in.png" alt="">India</small>
            </h1>
        </div>
        <div class="breadcrumb clr-fix">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="map.html">Aid by Location</a></li>
                <li>India</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/projects" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="tab-bar-container">
            <div class="row">
                <!--<div class="five columns budget-total push-seven">-->
                <div class="button-row">
                    <span>
                        <a href="#" class=" ">IATI Data Set</a>
                        <a href="#" class="button serious ">Report Fraud</a>
                    </span>
                </div>

                <!--<div class="seven columns projects-nav pull-five">-->
                <div class="projects-nav">
                    <p>Project Level</p>
                    <nav>
                        <ul class="tab-bar">
                            <li><a href="country-summary.html">Summary</a></li>
                            <li><a href="country-projects.html">Projects (0)</a></li>
                            <li class="active"><a href="#">Results</a></li>
                        </ul>
                    </nav>
                </div>          
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="twelve columns content">
        <h2 class="section-group-title">Millenium Development Goals</h2>
        <div class="row">
            <div class="four columns summary">
                <p>MDGs are a set of eight international development goals for 2015, adopted by the international community in the UN Millennium Declaration in September 2000, and endorsed by IMF, World Bank and OECD.</p>
                <a href="#">RAG status explained</a>
            </div>
            <div class="eight columns">
                <ul class="mdg-list">
                    <li>Proportion of population below $1.25 a day <span class="label radius green">On track</span></li>
                    <li>Net enrolment in primary education <span class="label radius  amber">Off track</span></li>
                    <li>Ratio of girls to boys in primary education <span class="label radius green">On track</span></li>
                    <li>Under 5 mortality ratio <span class="label radius green">On track</span></li>
                    <li>Maternal mortality ratio <span class="label radius grey">Insufficient data</span></li>
                    <li>HIV prevalence, 15-49years old <span class="label radius amber">Off track</span></li>
                    <li>Improved water source <span class="label radius red">Severely off track</span></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
-->
<div class="row">
    <div class="twelve columns content results-info">
        <h2 class="section-group-title">What DFID has achieved in India</h2>
        <div class="row">
            <div class="four columns summary">
                <h3>Climate Change</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people supported by DFID funding to cope with the effects of climate change <span>475,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Education</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of births delivered with the help of nurses, midwives or doctors through DFID support <span>104,000</span></li>
                    <li>Number of children supported by DFID in primary education (per annum) <span>357,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Governance and Security</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people supported to have choice and control over their development and to hold decision makers to account <span>356,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Humanitarian and Emergency Response</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people reached with emergency food assistance through DFID support <span>150,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Poverty, Vulnerability, Nutrition and Hunger</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people benefitting from DFID-supported cash transfer programmes <span>234,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Reproductive, maternal and neo-natal health</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of additional women using modern methods of family planning through DFID support <span>57,000</span></li>
                    <li>Number of people with sustainable access to clean drinking water sources through DFID support <span>293,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Water and Sanitation</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people with access to improved hygiene through DFID support to hygiene promotion <span>4,800,000</span></li>
                    <li>Number of people with sustainable access to an improved sanitation facility through DFID support <span>1,131,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Wealth Creation</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people with access to financial services as a result of DFID support <span>355,000</span></li>
                </ul>
                <p><a href="#">Download the full annual report for 2012</a></p>
            </div>
        </div>
        
    </div>
</div>