---
title: Aid Information Platform
---
    

<header class="page-title">
  <img src="/images/ukaid_logo.gif" style="float:right;">
  <div style="padding-right: 90px;">
    <h1>DEPARTMENT FOR INTERNATIONAL DEVELOPMENT</h1>
    <h2> Aid Information </h2>
  </div>
</header>
    

<div id="search-bar" class="">
     

<form action="/projects" method="GET">
    
        <label for="query">
            Search Projects
            <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
        </label>
        <input type="submit" value="Search" class="button big">
    
</form>

</div>
    <style>
        #whitehall-wrapper div .side-by-side-by-side a:hover { border: 2px solid #FFBF47; }
    </style>
    <div class="side-by-side-by-side">
        <a href="/location" class="by-location">
          <h2>Aid by Location</h2>
        </a>
        <div class="by-sector">
          <h2>Aid by Sector</h2>
        </div>
        <div class="by-org">
          <h2>Aid by Organisation</h2>
        </div>
    </div>
    <div class="side-by-side-by-side" id="columar-tables">

        <div id="top-5-countries">
          <h3 class="info-notice">Where we work</h3>
          <table>
            <thead>
              <tr>
                <th>Country</th>
                <th>Budget</th>
              </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td><a href="/countries/ET" class="truncate" title="Ethiopia">Ethiopia</a></td>
                        <td>£283m</td>
                    </tr>
                
                    <tr>
                        <td><a href="/countries/PK" class="truncate" title="Pakistan">Pakistan</a></td>
                        <td>£267m</td>
                    </tr>
                
                    <tr>
                        <td><a href="/countries/IN" class="truncate" title="India">India</a></td>
                        <td>£264m</td>
                    </tr>
                
                    <tr>
                        <td><a href="/countries/BD" class="truncate" title="Bangladesh">Bangladesh</a></td>
                        <td>£210m</td>
                    </tr>
                
                    <tr>
                        <td><a href="/countries/NG" class="truncate" title="Nigeria">Nigeria</a></td>
                        <td>£185m</td>
                    </tr>
                
            </tbody>
          </table>
        </div>
        <div id="top-5-sectors">
          <h3 class="info-notice">What we do</h3>
          <table>
            <thead>
              <tr>
                <th>Sector</th>
                <th>Budget</th>
              </tr>
            </thead>
            <tbody>
                 
                    <tr>
                        <td title="Economic and development policy/planning"><span class="truncate">Economic and development policy/planning</span></td>
                        <td>£1917m</td>
                    </tr>
                
                    <tr>
                        <td title="Education policy and administrative management"><span class="truncate">Education policy and administrative management</span></td>
                        <td>£1687m</td>
                    </tr>
                
                    <tr>
                        <td title="Primary education"><span class="truncate">Primary education</span></td>
                        <td>£1628m</td>
                    </tr>
                
                    <tr>
                        <td title="Social/ welfare services"><span class="truncate">Social/ welfare services</span></td>
                        <td>£1402m</td>
                    </tr>
                
                    <tr>
                        <td title="Bio-diversity"><span class="truncate">Bio-diversity</span></td>
                        <td>£1391m</td>
                    </tr>
                
            </tbody>
          </table>
        </div>
        <div id="top-5-projects">
          <h3 class="info-notice">What we achieve</h3>
          <table>
            <thead>
              <tr>
                <th>Project</th>
                <th>Budget</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="truncate">Malaria bed nets distributed</span>
                    </td>
                    <td>12.2m</td>
                </tr>
                 <tr>
                    <td>
                        <span class="truncate">Children vaccinated</span>
                    </td>
                    <td>12m</td>
                </tr>
                 <tr>
                    <td>
                        <span class="truncate">Access to financial services for </span>
                    </td>
                    <td>11.9m</td>
                </tr>
                 <tr>
                    <td>
                        <span class="truncate">Hygiene conditions improved for </span>
                    </td>
                    <td>7.4m</td>
                </tr>
                 <tr>
                    <td>
                        <span class="truncate">Emergency food assistance for</span>
                    </td>
                    <td>6m</td>
                </tr>

            </tbody>
          </table>
        </div>
    </div>
