---
title: Aid Information Platform
---


<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <span>Aid Information Platform</span>
            <h1>    
                <img src="/images/flags/in.png" alt="India"> 
                To advance the process of registration &amp; dissemination of transgenic cabbage and cauliflower in India and beyond (CIMBAA) <small>[GB-1-201413]</small>
            </h1>
        </div>
        <div class="breadcrumb clr-fix">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="country-summary.html">India</a></li>
                <li title="To advance the process of registration &amp; dissemination of transgenic cabbage and cauliflower in India and beyond (CIMBAA)">To advance the process of registration &amp; dissemination of transgenic cabbage and cauliflower in India and beyond (CIMBAA)</li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/projects" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="tab-bar-container">
            <div class="row">
                <!--<div class="five columns budget-total push-seven">-->
                <div class="button-row">
                    <span>
                        <a href="#" class="button serious ">Report Fraud</a>
                    </span>
                </div>

                <!--<div class="seven columns projects-nav pull-five">-->
                <div class="projects-nav">
                    <nav>
                        <ul class="tab-bar">
                            <li><a href="project-summary.html">Summary</a></li>
                            <li><a href="project-docs.html">Documents (0)</a></li>
                            <li class="active"><a href="project-transactions.html">Transactions</a></li>
                            <li><a href="project-partners.html">Partners</a></li>
                        </ul>
                    </nav>
                </div>          
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns content results-info">
        <h2 class="section-group-title">Partner projects</h2>
        <div class="row">
            <div class="four columns summary">
                <h3>International NGO</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li><span>Teacher Training Programme</span>Teacher Education through School-based Support in Bangladesh: Improving the Quantity and Quality of Teacher Education in Bangladesh<span>&pound;33.7m</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Multilateral One</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li><span>Education Improvement Programme</span>To support systemic reform of the education system – to increase access to primary education for the poorest and improve learning outcomes through support to the Government of Bangladesh national elementary education project<span>&pound;29.9m</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Governance and Security</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li><span>Schools for Bangladesh Programme</span>To provide additional financial support to low income countries with limited external financing and where bridging finance is required to implement education sector plans<span>&pound;26.1m</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Humanitarian and Emergency Response</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people reached with emergency food assistance through DFID support <span>150,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Poverty, Vulnerability, Nutrition and Hunger</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people benefitting from DFID-supported cash transfer programmes <span>234,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Reproductive, maternal and neo-natal health</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of additional women using modern methods of family planning through DFID support <span>57,000</span></li>
                    <li>Number of people with sustainable access to clean drinking water sources through DFID support <span>293,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Water and Sanitation</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people with access to improved hygiene through DFID support to hygiene promotion <span>4,800,000</span></li>
                    <li>Number of people with sustainable access to an improved sanitation facility through DFID support <span>1,131,000</span></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="four columns summary">
                <h3>Wealth Creation</h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <li>Number of people with access to financial services as a result of DFID support <span>355,000</span></li>
                </ul>
                <p><a href="#">Download the full annual report for 2012</a></p>
            </div>
        </div>
        
    </div>
</div>
