---
title: Aid Information Platform
---


<div id="page-title" class="row partner-masthead">
    <div class="twelve columns">
        <div class="twelve columns partner-title"> 
            <div>
                <h1>Depertment of Energy & Climate Change</h1>
            </div>

        </div>
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">

        <div class="breadcrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#" title="Depertment of Energy & Climate Change">Depertment of Energy & Climate Change</a></li>
                <li title="Climate and Development Fund [GB-1-114320]">Climate and Development Fund [GB-1-114320]</li>
            </ul>
        </div>
        <h2><img src="/images/flags/in.png" alt="India">Climate and Development Fund <small>[GB-1-114320]</small></h2>

    </div>

</div>

<div class="row">
    <div class="twelve columns">
        <div class="tab-bar-container partners">
            <div class="row">
                <div class="button-row">
                    <span>
                        <a href="#" class="button serious ">Report Fraud</a>
                    </span>
                </div>

                <div class="projects-nav">
                    <p>Project Level</p>
                    <nav>
                        <ul class="tab-bar">
                            <li class="active"><a href="#">Summary</a></li>
                            <li><a href="partner-project-docs.html">Documents (0)</a></li>
                            <li><a href="partner-project-transactions.html">Transactions</a></li>
                            <li><a href="partner-project-partners.html">Partners</a></li>
                        </ul>
                    </nav>
                </div>          
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns summary">
        <h2 class="visually-hidden">Summary</h2>
        <p>To support systemic reform of the education system – to increase access to primary education for the poorest and improve learning outcomes through support to the Government of India's national elementary education project.</p>
    </div>
</div>
<div class="row">
    <div class="six columns ">
        <h3 class="info-notice">Funding - Unconditional</h3>
        <img src="http://placehold.it/510x150">
        <h3 class="info-notice">Status - Implementation</h3>
        <img src="http://placehold.it/510x150">
        <h3 class="info-notice">Project breakdown by sector</h3>
        <div class="row">
            <div class="six columns">
                <img src="http://placehold.it/220x220" class="img-circle" alt="200x200">
            </div>
            <div class="six columns">
                <ul class="legend-list">
                    <li><span class="theme-1"></span>Education
                        <em>60%</em>
                    </li>
                    <li><span class="theme-2"></span>Health
                        <em>25%</em>
                    </li>
                    <li><span class="theme-3"></span>Government
                        <em>5%</em>
                    </li>
                    <li><span class="theme-4"></span>Water
                        <em>4%</em>
                    </li>
                    <li><span class="theme-5"></span>Agriculture
                        <em>3%</em>
                    </li>
                    <li><span class="theme-6"></span>Energy
                        <em>3%</em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="six columns ">
        <a href="#" class=""><img src="http://placehold.it/510x400"></a>
        <div class="disclaimer grey">    
            <p><em>Disclaimer: </em>Country borders do not necessarily reflect the UK Government's official position.</p>
        </div>
        <h3 class="info-notice">Project total by year</h3>
        <img src="http://placehold.it/510x300">  
    </div>
</div>